.container_fluid {
  display: grid;
  grid-template-areas: "left_container right_container";
  width: 100%;
}

.left_container {
  background-color: #f8f9fa;
  height: 100vh;
  width: 50vw;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.right_container {
  background-color: #e9ecef;
  height: 100vh;
  width: 50vw;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.logo_big {
  grid-row: 2; /* Center vertically within the first row */
  justify-self: center; /* Center horizontally */
  height: 100px;
}

.logo_big img {
  height: 100%;
}

.credits {
  align-self: end; /* Align to the bottom of the parent */
  grid-row: 3; /* Place in the second row */
  justify-self: left;
  padding-left: 20px;
}
