.multi_row_range_slider {
  width: 100%;
  overflow-x: scroll;
  /* To move the slider a bit below the timeline*/
  padding-bottom: 10px;
}
  
.range_slider_container {
  overflow-y: visible;
  height: 125px;
  position: relative;
  border-radius: 25px;
}

.customRange {
  width: 100%;
  height: 100px;
  position: relative;
  top: 25px;
  border-radius: 8px;
}
  
.rangeHandle {
  width: 2px;
  height: 100%;
  background-color: #FF05D1;
  position: absolute;
  top: 0;
  cursor: pointer;
}
  
.rsValue {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  border: 1px solid #FF05D1;
  background-color: #FF05D1;
}
  
.draggableContainer {
  /* TODO do I need this? */
  position: relative;
}

.multi_row_range_slider::-webkit-scrollbar{
  width: 8px;
  height: 1em;
  
}

.multi_row_range_slider::-webkit-scrollbar-track{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  margin-block: 0.5em;
  
}

.multi_row_range_slider::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: var(--light-blue);
}