.dummy_video_track {
  background-color: #6ea7d3;
  border-radius: 8px;
  padding-bottom: 5vh;
  height: calc(100% - 10vh);
  width: 50%;
  /* margin-left: 10vw; */
  cursor: pointer;
}

.multi_row_range_slider {
  width: 100%;
  overflow-x: scroll;
}

.range_slider_container {
  height: 100px;
  position: relative;
  border-radius: 25px;
}

.customRange {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px 8px 0 0;
}

.rangeHandle {
  width: 2px;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.rsValue {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
}

.draggableContainer {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: repeating-linear-gradient(
    90deg,
    var(--color-rose-bar) 0px 50px,
    var(--color-rose-bar-indicator1) 50px 51px
  );
}

.multi_row_range_slider::-webkit-scrollbar {
  width: 8px;
  height: 1em;
}

.multi_row_range_slider::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  border-radius: 0 0 8px 8px;
  margin-block: 0.5em;
}

.multi_row_range_slider::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}
