Django==5.0.6
asgiref
django-cors-headers
djangorestframework
djangorestframework-api-key==3.*
djangorestframework-simplejwt
PyJWT
pytz
tzdata==2024.2
sqlparse
psycopg2-binary
python-dotenv
# for swagger docs
drf-spectacular
pyyaml
uritemplate
inflection
django-environ
django-dbbackup==4.2.1
drf-orjson-renderer