.mainView {
  flex: 2;
  background-color: var(--projects-section);
  border-top-left-radius: 32px;
  padding: 32px 0 0 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dataView {
  display: flex;
  flex: 2;
  flex-direction: row;
}

.dataView canvas {
   border: 3px solid #000;
   margin-bottom: 20px;
}
