{% extends "frontend/base.html" %} 

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}

<main class="main_container_annotation">
    <div class="content_grid_annotation">
        <div class="grid_item_annotation" id="konva-container1">

        </div>
        <div class="grid_item_annotation" id="konva-container2">

        </div>
    </div>
    <div class="timeline-container">
        <p>blablabla: {{bottom_image.image_url}}</p>
        <div class="timeline">
            {% for frame in frame_numbers %}
                <a href="{% url 'image_detail' log_id frame %}" class="timeline-box"></a>
            {% endfor %}
        </div>
      </div>
</main>
<script src="{% static 'js/my_konva.js' %}"></script>
<script>
    const annotation_list_bottom = {{ bottom_annotation | safe }};
    const annotation_list_top = {{ top_annotation | safe }};
    //console.log(annotation_list_bottom)

    setUpCanvas("{{top_image.image_url}}", annotation_list_top, "konva-container1");
    setUpCanvas("{{bottom_image.image_url}}", annotation_list_bottom, "konva-container2");
</script>
{% endblock %}