{% extends "frontend/base.html" %} 

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}
<main class="main_container_annotation">
    <div class="content_grid_annotation">
        <div class="grid_item_annotation">
            <img
              src="https://logs.berlin-united.com/{{top_image.image_url}}"
              alt="placeholder"
            />
        </div>
        <div class="grid_item_annotation">
            <img
              src="https://logs.berlin-united.com/{{bottom_image.image_url}}"
              alt="placeholder"
            />
        </div>
    </div>
    <div class="timeline-container">
        <p>blablabla: {{bottom_image.image_url}}</p>
        <div class="timeline">
            {% for frame in frame_numbers %}
                <a href="{% url 'image_detail' log_id frame %}" class="timeline-box"></a>
            {% endfor %}
        </div>
      </div>
</main>
{% endblock %}