{% extends "frontend/base.html" %} 

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
<main class="multi_view_container">
    <div class="grid_container">
        <div class="multi_view_image_grid">
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 1">
                <p class="caption">Caption 1</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 2">
                <p class="caption">Caption 2</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 3">
                <p class="caption">Caption 3</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 4">
                <p class="caption">Caption 4</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 5">
                <p class="caption">Caption 5</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 6">
                <p class="caption">Caption 6</p>
            </div>
            <div class="multi_view_image_container">
                <img src="https://placehold.co/640x480" alt="Image 7">
                <p class="caption">Caption 7</p>
            </div>
        </div>
    </div>
    <div class="timeline-container">
        <p>blablabla: {{bottom_image.image_url}}</p>
        <a href="{% if prev_frame %}{% url 'multiview_detail' game_id prev_frame %}{% else %}{% endif %}" class="prev-button">Previous</a>
        <a href="{% if next_frame %}{% url 'multiview_detail' game_id next_frame %}{% else %}{% endif %}" class="next-button">Next</a>
    <button id="save_button" type="submit">Save Annotation</button>
    <div class="test">
        <div class="timeline">
            {% for frame in frame_numbers %}
                <a href="{% url 'multiview_detail' game_id frame %}" class="timeline-box {% if frame == current_frame %}timeline-active{% endif %}"></a>
            {% endfor %}
        </div>
    </div>
    </div>

</main>
<script src="{% static 'js/helper.js' %}"></script>
<script src="{% static 'js/my_konva.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        scrollTimeline();
        arrow_navigation();
        const resizeObserver = new ResizeObserver(scaleImages);
        const mainContent = document.querySelector('.grid_container');
        resizeObserver.observe(mainContent);

        scaleImages();
    });

</script>
{% endblock %}