<nav class="nav">
  <ul class="nav_list">
    <li>
      <a href="{% url 'events' %} "> Home </a>
    </li>
    <li>
      <label for="panel_toggle" class="toggle_button">Data View</label>
    </li>
    <li>
      <button id="anchor_1" popovertarget="popover_1">Class</button>
    </li>
    <li>
      <button id="anchor_2" popovertarget="popover_2">Annotation Mode</button>
    </li>
    <li>
      <a href=""> Logout </a>
    </li>
  </ul>
  <p popover id="popover_1" class="pop1">Select one Class for Annotation</p>
  <p popover id="popover_2" class="pop2">Select Mode for Annotation</p>
</nav>
