* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main_container";
  grid-template-rows: 50px auto;
  grid-template-columns: 150px auto;
  background: radial-gradient(
    circle at 50% 50%,
    rgb(159, 232, 253) 20%,
    transparent 80%
  ),
  conic-gradient(
    from 45deg at 50% 50%,
    rgb(255, 129, 170) 0%,
    rgb(159, 232, 253) 25%,
    rgb(255, 129, 170) 50%,
    rgb(159, 232, 253) 75%,
    rgb(255, 129, 170) 100%
  );
  transition: 0.2s;
}

.header {
  grid-area: header;
  background: #333;
  color: white;
  padding: 1rem;
}

.app-content {
  display: flex;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}
.nav {
  grid-area: nav;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* For event list view */
.projects_section {
  grid-area: main_container;
  
  background-color: #fff;
  border-top-left-radius: 32px;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project_boxes {
  overflow-y: auto;
}
.project_boxes.jsGridView {
  --min: 300px;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, var(--min));
}

.project_boxes::-webkit-scrollbar {
  width: 8px;
  height: 1em;
}

.project_boxes::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  border-radius: 8px;
  margin-block: 0.5em;
}

.project_boxes::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}

/* */
.event_card {
    border-radius: 0.75rem;
    border: 1px solid grey;
    background-color: hsl(0 0% 100%);
}

.event_header{
  padding: 1.5rem;
  flex-direction: column;
  display: flex;
}
/* this is really weird why does img need to be a direct child of something that is display flex*/
.event_header a{
  flex-direction: column;
  display: flex;
}
.event_content{
  padding-top: 0px;
  padding: 1.5rem;
}

.event_title {
  letter-spacing: -0.025em;
  line-height: 1;
  font-weight: 600;
}

.event_footer{
  padding-top: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 1.5rem;
  align-items: center;
  display: flex;
}
.event_progressbar {
    height: 8px;
    border-radius: 8px;
    width: 100%;
}

/* Annotation View */
.main_container_annotation {
  grid-area: main_container;
  display: grid;
  grid-template-rows: 80% 20%;
  background: #fff;
  position: relative;
  overflow: hidden;
  padding: 10px;
  gap: 5px;
}

.content_grid_annotation {
  display: flex;
  gap: 4px 8px;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
}

.grid_item_annotation {
  flex: 1;
  display: flex;
 

  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  max-height: 100%;
  background-color: #f0f0f0;
}

.grid_item_annotation img {
  aspect-ratio: 4 / 3; /* Maintain the 4:3 aspect ratio */
  object-fit: contain; /* Scale the image while preserving the aspect ratio */
  height: 100%; /* Prevent the image from exceeding the container's height */
  max-width: 100%;
}

/* Timeline */
.timeline-container { 
  background-color: #ffffff;
  overflow: hidden;
}

.test {
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping of boxes   */
  padding-bottom: 5px;
}

.timeline {
  display: flex;

}

.timeline-box {
  flex-shrink: 0;
  width: 40px;
  height: 80px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #ffcccb;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.timeline-box:hover {
  background-color: #ff69b4;
}

.timeline-active {
  background-color: #ff69b4;
}

/* Add smooth scrolling for aesthetics */
.test::-webkit-scrollbar {
  height: 8px;
}

.test::-webkit-scrollbar-thumb {
  background: #ffcccb;
  border-radius: 4px;
}

.test::-webkit-scrollbar-track {
  background: #f1f1f1;
}
